@charset "UTF-8";

/* 메인 감성 카드 */
.member-card-container
{
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	padding: 30px;
	margin-top: 30px;
	transition: transform 0.3s ease;
}

/* 테이블 스타일 */
.member-card-container table
{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 12px;
}

.member-card-container th, .member-card-container td
{
	text-align: center;
	padding: 14px 10px;
	border-bottom: 1px solid #ddd;
}

.member-card-container thead th
{
	background-color: #cdece2;
	color: #333;
	font-size: 15px;
	border-radius: 10px;
}

.member-card-container tbody td
{
	word-break: break-word;
	white-space: normal;
	max-width: 300px;
}

/* 버튼 스타일 */
.approve-btn, .reject-btn
{
	border: none;
	border-radius: 30px;
	padding: 8px 16px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.approve-btn
{
	background-color: #a8d5ba;
	color: #fff;
}

.approve-btn:hover
{
	background-color: #8cc4a0;
	transform: scale(1.05);
}

.reject-btn
{
	background-color: #f4978e;
	color: #fff;
	margin-left: 5px;
}

.reject-btn:hover
{
	background-color: #e57373;
	transform: scale(1.05);
}

/* 페이지 제목 */
h1
{
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #333;
}

/* 플로팅 버튼 */
.floatingButton-wrapper
{
	position: fixed;
	bottom: 30px;
	right: 40px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.floatingButton-wrapper:hover
{
	width: 120px;
}

.floatingButton
{
	background-color: #a8d5ba;
	color: white;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 20px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.floatingButton:hover
{
	background-color: #94c9ab;
}

.floatingButton-img
{
	width: 70%;
	height: 70%;
	object-fit: contain;
	transition: transform 0.2s ease;
}

/* 서브 아이콘 */
.top-icon-slide
{
	background-color: rgba(128, 128, 128, 0.7);
	color: white;
	font-size: 24px;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.4s ease;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	pointer-events: none;
}

.top-icon-slide
{
	transform: translateY(10px);
	margin-bottom: 10px;
	margin-right: 5px;
}

.top-icon-slide:hover
{
	background-color: #84b6f4;
}

.floatingButton-wrapper:hover .top-icon-slide
{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}