body {
	background-color: #fff;
	color: #333;
	font-family: 'Segoe UI', sans-serif;
	text-align: center;
	padding: 100px 20px;
}

img {
	margin-bottom: 20px; /* 이미지와 텍스트 사이 여백 추가 */
}

.error-title {
	font-size: 72px;
	font-weight: bold;
	color: #dc3545;
}

.error-subtitle {
	font-size: 24px;
	margin-top: 20px;
}

.error-description {
	margin-top: 10px;
	font-size: 16px;
	color: #6c757d;
	line-height: 1.6;
	margin-bottom: 40px; /* 버튼과 간격을 확보 */
}

.go-home-btn {
	padding: 12px 32px;
	background-color: #28a745;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.go-home-btn:hover {
	background-color: #218838;
}
