@charset "UTF-8";

.content-area
{
	flex-grow: 1;
	background-color: #fff;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.profile-box .info-row
{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #e9ecef;
}

.edit-button
{
	margin-top: 20px;
	display: inline-block;
	float: right;
	background: linear-gradient(to right, #7dcfb6, #80cfa9);
	border: none;
	color: white;
}

.edit-button:hover
{
	background: linear-gradient(to right, #65bda2, #6ab797);
}