@charset "UTF-8";

/* 기본 배경 */
body
{
	color: #2e3d3d;
	margin-top: 1rem;
}

/* 메인 컨테이너 */
.main
{
	max-width: 1200px;
	padding: 20px;
	margin: auto;
}

/* 팀 메뉴 */
.team-menu
{
	display: flex;
	list-style: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.teampage-link
{
	flex: 1;
	text-align: center;
}

.teampage-link a
{
	display: block;
	padding: 15px 0;
	text-decoration: none;
	color: #3ea152;
	font-weight: bold;
}

.teampage-link a:hover, .teampage-link:first-child a
{
	color: #faaa7a;
	border-bottom: 1px solid #faaa7a;
}
.container
{
	width: 100%;
	background-color: white;
}