@charset "UTF-8";

.position-button
{
	margin-bottom: 10px;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
	background: linear-gradient(to right, #7dcfb6, #80cfa9);
	border: none;
	width: 80px !important;
	color: black;
}

.position-button:hover
{
	background: linear-gradient(to right, #65bda2, #6ab797);
}

.position-button.active
{
	background-color: #cdece2;
	color: white;
}