@charset "UTF-8";

.navbar
{
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(6px);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
	border-radius: 1rem;
	padding: 1rem 2rem;
	margin-bottom: 20px;
}

.nav-link
{
	margin-right: 20px;
	color: #355e3b;
	font-weight: 600;
	transition: color 0.3s ease;
}

.nav-link:hover
{
	color: #5b8c5a;
}

.filter-bar button
{
	margin: 0 5px;
	background-color: #e0f2e9;
	border: none;
	color: #355e3b;
	font-weight: 500;
	padding: 6px 14px;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
}

.filter-bar button:hover
{
	background-color: #cce7db;
}

.match-card, .match-card1, .match-card2
{
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(6px);
	border-radius: 16px;
	padding: 1.2rem 1.5rem;
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
	transition: transform 0.2s ease;
}

.match-card, .match-card2
{
	margin-bottom: 1.2rem;
}

.match-card1
{
	margin-bottom: 10px;
}

.match-card:hover
{
	transform: translateY(-3px);
}

.stadium-card
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.stadium-img-wrapper
{
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 300px;
}

.stadium-img
{
	height: 140px;
	width: 140px;
	object-fit: cover;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
}

.stadium-info
{
	display: flex;
	flex-direction: column;
	color: #444;
	font-size: 0.95rem;
	gap: 4px;
}

.stadium-info strong
{
	font-size: 1.1rem;
	color: #2e6b4c;
	margin-bottom: 4px;
}

.card-action
{
	margin-top: 16px;
    background: linear-gradient(to right, #7dcfb6, #80cfa9);
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.card-action:hover
{
	background: linear-gradient(to right, #65bda2, #6ab797);
}